:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --basic-color: #212121;
    --primary-color: #757575;
    --font: black;
    --primary-theme-dark: #2f303a;
    --new-hero-theme: #c4c4c4;
    --primary-theme-light: #eeeeee;
    --accent-color: #2196f3;
    --primary-white-color: #fff;
    --primary-light-grey-color: #f5f4fa;
    --line-header: #ececec;
    --transition-dur-and-funk: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
    font-family: var(--primary-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-content: stretch;
    background-color: var(--primary-white-color);
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    border: 1px solid none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.visually-hidden,
.button-hidden,
.project-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* ================== НАВИГАЦИЯ ======================== */

.page-header {
    border: 1px solid var(--line-header);
}

.page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.page-nav {
    display: flex;
    align-items: center;
    position: var(--transition-dur-and-funk);
}

/* Логотип */

.logo {
    margin-right: 93px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-studio {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--basic-color);
}

.menu {
    display: flex;
    align-items: center;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
    cursor: pointer;
}

.menu-link {
    padding: 32px 0;
    display: block;
    font-weight: 500;
    color: var(--basic-color);
    transition: color var(--transition-dur-and-funk);
}

.current {
    position: relative;
    color: var(--accent-color);
}

.current::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    margin-bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    transition: background-color var(--transition-dur-and-funk);
}

.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.menu-link-contact {
    padding: 32px 0;
    display: block;
    font-weight: 500;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color var(--transition-dur-and-funk);
}

.menu-link-contact:hover,
.menu-link-contact:focus {
    color: var(--accent-color);
}

.portfolio-menu-link-contact {
    padding: 32px 0;
    display: block;
    font-weight: 500;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.port-contact-icon {
    margin-right: 10px;
}

.contact-icon {
    fill: currentColor;
    margin-right: 10px;
}

.contact-icon:hover {
    fill: var(--accent-color);
}

/* ===================== ШАПКА САЙТА =================== */
.hero {
    flex-wrap: wrap;
    align-items: center;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 200px 0;
    text-align: center;
    color: #fff;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/Фон_вверху_html/Img.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: var(--new-hero-theme);
}

.hero-title {
    margin-left: 237px;
    margin-right: 237px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.button-hero {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    align-items: center;
    text-align: center;
    border-style: none;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    display: block;
    padding: auto;
    margin: auto;
    text-decoration: none;
    transition: background-color var(--transition-dur-and-funk);
}

.button-hero:hover,
.button-hero:focus {
    background-color: #188ce8;
}

/* ================== ОСОБЕННОСТИ ======================= */

.visually-list {
    display: flex;
    align-content: center;
    justify-content: center;
}

.visually-list > .visually-item:not(:last-child) {
    margin-right: 30px;
}

.visually-icon {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 120px;
    background: var(--primary-light-grey-color);
    border-radius: 4px;
    margin-bottom: 30px;
}

.visually-item-icon {
    display: flex;
    flex-wrap: wrap;
    width: 70px;
    height: 70px;
}
.main-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--basic-color);
}

.suptitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    align-items: center;
    color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 0px;
}

/* ================== ДЕЯТЕЛЬНОСТЬ ====================== */

.activity {
    padding-top: 0px;
}
.activity-item {
    display: flex;
}

.activity-title,
.proficional-title {
    padding: 0px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--basic-color);
    margin-bottom: 50px;
}

.activ {
    position: relative;
}

.activity-item > .activ:not(:last-child) {
    margin-right: 30px;
}

.activ-suptitle {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    background: rgba(47, 48, 58, 0.8);
}

.text {
    position: absolute;
    padding-top: 27px;
    padding-bottom: 27px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}

.activity-foto {
    display: block;
    max-width: 100%;
    height: auto;
}

/* ================== КОМАНДА ==================== */

.proficional {
    background-color: var(--primary-light-grey-color);
    padding-top: 94px;
}

.prof-title {
    padding: 30px 30px;
}

.proficional-item {
    display: flex;
}

.proficional-item > .prof:not(:last-child) {
    margin-right: 30px;
}

.prof {
    width: 270px;
    margin: 0 auto;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.proficional-team {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--basic-color);
    margin-bottom: 10px;
}

.profle {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-color);
    margin-top: 10px;
    margin-bottom: 16px;
}

.social {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-item {
    cursor: pointer;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-white-color);
    transition: background-color var(--transition-dur-and-funk),
        box-shadow var(--transition-dur-and-funk);
}
.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.social-icon {
    fill: #afb1b8;
    transition: fill var(--transition-dur-and-funk);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
    fill: var(--primary-white-color);
}

/* ======================= КЛИЕНТЫ  =======================*/

.clients-title {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--basic-color);
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-list-item {
    cursor: pointer;
}

.clients-link {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;
    transition: fill var(--transition-dur-and-funk), border var(--transition-dur-and-funk);
}

.clients-link:hover {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
}

/* ===================== ПОРТФОЛИО ===================== */

.portfolio {
    background-color: var(--primary-white-color);
}

/* --------------------- Фильтры ------------------- */

.filter-button {
    display: flex;
    justify-content: center;
}

.filter-button > .filter-btn:not(:last-child) {
    margin-right: 8px;
}

.filter-btn {
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 50px;
}

.modal-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    align-items: center;
    text-align: center;
    border-style: none;
    margin: auto;
    text-decoration: none;
    background-color: var(--primary-light-grey-color);
    border-radius: 4px;
    color: var(--basic-color);
    padding: 6px 32px;
    transition: color 2500ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 2500ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btm {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}

.modal-btn:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* -------------- Проект --------------------- */

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.project-item {
    cursor: pointer;
    flex-basis: calc((100% - 60px) / 3);
    background: var(--primary-white-color);
    border: 1px solid var(--primary-theme-light);
    transition: border var(--transition-dur-and-funk), box-shadow var(--transition-dur-and-funk);
}

.project-list-img {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    margin: 0 auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #ffffff;
    padding-top: 63px;
    padding-left: 24px;
    padding-bottom: 63px;
    padding-right: 24px;
    background-color: rgba(33, 150, 243, 0.9);
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-funk);
}

.project-item:hover .overlay,
.project-item:focus .overlay {
    transform: translate(0, 0);
}

.project-item:hover {
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-title {
    padding: 24px 20px;
}

.name-proj {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--basic-color);
}

.contant {
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-color);
    margin-top: 4px;
    margin-bottom: 0;
}

/* =================== ФУТЕР ===========================*/

.under {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-theme-dark);
}

.logo-foot {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-studio-foot {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.under-item {
    margin-top: 20px;
}

.under-address-social {
    display: flex;
    align-items: baseline;
}

.address {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-white-color);
}

.footer-address {
    color: var(--primary-white-color);
}

.contact {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-social {
    margin-left: 70px;
}

.foot-social-title {
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-style: normal;
    color: var(--primary-white-color);
}

.foot-social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.foot-social-list-item {
    display: flex;
    flex-wrap: wrap;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.foot-social-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-content: center;
    justify-content: center;
    fill: var(--primary-white-color);
    transition: background-color var(--transition-dur-and-funk);
}
.foot-social-link:hover,
.foot-social-link:focus {
    background-color: var(--accent-color);
}

/*================ MODAL WINDOW =================== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity var(--transition-dur-and-funk), visibility var(--transition-dur-and-funk);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: box-shadow var(--transition-dur-and-funk), opacity var(--transition-dur-and-funk),
        visibility var(--transition-dur-and-funk);
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    transition: border-color var(--transition-dur-and-funk);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    border-color: var(--accent-color);
}

.modal-close-btn-icon {
    transition: fill var(--transition-dur-and-funk);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--accent-color);
}
